::-webkit-input-placeholder { 
    color: #000000 
}
#chat {
    margin: 0 auto;
    width: 50%;
    top: %; 
    right: ; 
    width: ; 
    border: 0px solid #421; 
    padding: 40px; 
}
#chat div { 
    display: flex;
    justify-content: center;
    margin: 10px; 
} 
#input { 
    border: 0; 
    padding: 5px; 
    border: 1px solid #421; 
}

#logo{
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 50%;
    width: 497px;
    height: 253px;
}