::-webkit-input-placeholder { 
    color: #000000 
}
#chat { 
    position: fixed; 
    top: %; 
    right: ; 
    width: ; 
    border: 0px solid #421; 
    padding: 40px; 
}
#chat div { 
    margin: 10px; 
} 
#input { 
    border: 0; 
    padding: 5px; 
    border: 1px solid #421; 
}